.notebook-page {
  position: relative;
  box-sizing: border-box;
  max-width: 320px;
  font-family: cursive;
  font-size: 20px;
  border-radius: 10px;
  background: #ffffff;
  background-image: linear-gradient(#f5f5f0 1.1rem, #cccccc 1.2rem);
  background-size: 100% 1.2rem;
  line-height: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 4.5rem;
}

.notebook-page::before,
.notebook-page::after {
  position: absolute;
  content: "";
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease;
}

.notebook-page::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.notebook-page::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.notebook-page:hover::before,
.notebook-page:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.notebook-margin {
  position: absolute;
  border-left: 1px solid #d88;
  height: 100%;
  left: 3.3rem;
  top: 0;
}

.notebook-page p {
  margin: 0;
  text-indent: 1rem;
  padding-bottom: 1.2rem;
  color: #000000;
  line-height: 20px;
}
